.py-3-right { 
  padding-right: 0rem; 
}
h1 {
  padding: 1rem;
  font-weight: normal; 
}
.Xl-heading {
  font-size: 6rem;
  margin-bottom: 0rem;
  line-height: 0.6;
}

#navbar #list {
  list-style: none;
}

#contact {
  justify-content: center;
  display: flex;
  max-width: 100%;
}

#showcase .thisbtn {
  margin-top: 55rem;
  color: #000;
}
#radio {
  padding: 0rem;
}
  
@media(min-width: 1425px) {
    
  /* #contact {
    max-width: 600rem;
  } */
}
